<!--The content below is only a placeholder and can be replaced.-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">home</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="category-listing">categories</a></li>
      <li><a routerLink="item">items</a></li>
    </ul>
    </div>
  </nav>

  <div class="container" style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
<router-outlet></router-outlet>

</div>
<h2>To be added</h2>
